/*-- Base --*/
.row-margin-top {
    margin-top: 20px;
}

.section-title h2 {
    text-transform: uppercase;
}

/*-- Navigation --*/
.logo #main-logo, .logo #main-logo-mobile {
    max-width: 300px;
}
.logo #main-logo-mobile {
    display: none;
}

/*-- Footer --*/

#footer .footer-info a {
    color: #fff;
}

#footer img.footer-logo-img {
    top: -10px;
    position: relative;
}


/*-- Breadcrumb --*/
.breadcrumb-section {
    padding: 40px 0;
}


/*-- About us --*/
.about-us img {
    margin-bottom: 15px;
}

/*-- Contact us --*/
#js-form-response {
    color: #fff;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

/*-- Disinfecting --*/
#disinfecting-service .video-container {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#disinfecting-service .video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*-- Gallery Img Wrapper --*/
.gallery-wrap {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

/*-- Mobile Style --*/
@media screen and (max-width: 600px) {
    .logo #main-logo-mobile  {
        display: inline-block;
    }

    .logo #main-logo {
        display: none;
    }
}
